<h1>Dummies#index</h1>
<p>Find me in app/views/dummies/index.html.erb</p>
<%= link_to "User", users_path %><br>
<%= link_to "Role", roles_path %><br>
<%= link_to "Bookings", show_bookings_path %><br>
<%= link_to "Category", categories_path %><br>
<%= link_to "Events", events_path %><br>
<%= link_to "City", cities_path %><br>
<%= link_to "Location", locations_path %><br>