<%= form_with model:@user do |f|%>
<b class="label">Name</b><%= f.text_field :name %>
  <% @user.errors.full_messages_for(:name).each do |message| %>
  <div><%= message %></div>
  <% end %><br><br>
  
<b class="label">Phone</b><%= f.text_field :phone %>
  <% @user.errors.full_messages_for(:phone).each do |message| %>
  <div><%= message %></div>
  <% end %><br><br>

<b class="label">Email</b><%= f.text_field :email %>
  <% @user.errors.full_messages_for(:email).each do |message| %>
  <div><%= message %></div>
  <% end %><br><br>

<%= f.label :role %>
      <%= collection_select( :user, :role_ids, Role.all, :id, :name ) %>
        <br>
        <br>
<%= f.submit 'Submit' %>
<% end %>